<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Todo APP</title>
</head>

<body>
    <Header class="my-header">
        <h2>TODO APP</h2>
        <form>
            <input type="text" placeholder="Eg: Read book" />
            <button class="add-btn">ADD</button>
        </form>
    </Header>
    <main class="main-body">
        <div class="tabs">
            <div class="tab selected" id="all" onclick="toggleTab(event)">
                <p>ALL</p>
            </div>
            <div class="tab" id="completed" onclick="toggleTab(event)">
                <p>Completed</p>
            </div>
            <div class="tab" id="pending" onclick="toggleTab(event)">
                <p>Pending</p>
            </div>
        </div>
        <div class="tabs-content">
            <div class="todos-list all active">
                <ul>
                    <li>First</li>
                    <li>Second</li>
                    <li>Third</li>
                </ul>
            </div>
            <div class="todos-list completed">
                <ul>
                    <li>First</li>
                    <li>Second</li>
                </ul>
            </div>
            <div class="todos-list pending">
                <ul>
                    <li>Third</li>
                </ul>
            </div>
        </div>
    </main>
    <script src="js/todo.js"></script>
</body>

</html>