/*write css here*/
:root {
    --primary: #50586C;
    --secondary: #DCE2F0;
  }
body{
    margin:0;
}
p{
    font-size: 1.2rem;
    color: var(--primary);

}
.my-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    padding: 1rem;
}
.my-header form{
    width: 80%;
    text-align: center;
}
.my-header h2{
    color: var(--primary);
}
.my-header input{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
}
.my-header input:focus{
    border: none;
    outline: 0;
}
.my-header form .add-btn:focus{
    outline: none;
}
.my-header form .add-btn{
    background: transparent;
    border: 0;
    color: var(--primary);
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.tabs{
    display: flex;
    padding: 0 1rem;
}
.tabs .tab{
    margin-right: 1rem;
    width: calc(100% / 3);
    cursor: pointer;
}
.tabs .selected{
    border-bottom: 1px solid var(--primary);
}
.todos-list{
    display: none;
}
.tabs-content .active{
    display: block;
}

.todos-list ul{
    list-style: none;
    padding: 0;
}
.todos-list ul li{
    font-size: 1.3rem;
    padding: 20px 10px;
    color: var(--primary);
    font-weight: bold;
}
.todos-list ul li:nth-child(odd){
    background: var(--secondary);
}